<div class="bg-primary panel-body"><h4>Home Page</h4></div>

<div class="text-center">
    <div>Hello</div>
    <a asp-controller="Home" asp-action="UserPagePublic" asp-route-userID=@ViewBag.UserId class="btn btn-primary">Profile</a>
</div>
