@model CreateCollectionModel

<div class="bg-primary panel-body"><h4>Create Collection</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CreateCollection" method="post">
    <input type="hidden" asp-for="CreaterId" value="@Model.CreaterId"/>
    <table class="table table-condensed table-bordered">
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name" class="form-control"/></td>
        </tr>
        <tr>
            <td><label asp-for="Description"></label></td>
            <td><input asp-for="Description" class="form-control"/></td>
        </tr>
        <tr>
            <select required="required" asp-for="TopicId">
              <option value="">Topic</option>
                @for(int i = 1; i <= Model.topics.Count(); ++i)
                {
                    <option value="@Model.topics[i-1].Id">@Model.topics[i-1].Name</option>
                }
            </select>
        </tr>
    </table>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>String Fields Names</th>
            <th>Text Fields Names</th>
            <th>Int Fields Names</th>
            <th>DateTime Fields Names</th>
            <th>Bool Fields Names</th>
        </tr>
        <tr>
            <td><div id="StringFields" class="col-9"></div></td>
            <td><div id="TextFields" class="col-9"></div></td>
            <td><div id="IntFields" class="col-9"></div></td>
            <td><div id="DateTimeFields" class="col-9"></div></td>
            <td><div id="BoolFields" class="col-9"></div></td>
        </tr>
        <tr>
            <div>
                <td>
                    <input type="button" id="StringButton" class="btn btn-primary" value="Add String Fild" onclick="newField('String')" />
                    <input type="button" id="StringButton" class="btn btn-primary" value="Delete" onclick="deleteField('String')" />
                </td>
                <td>
                    <input type="button" id="TextButton" class="btn btn-primary" value="Add Text Fild" onclick="newField('Text')" />
                    <input type="button" id="TextButton" class="btn btn-primary" value="Delete" onclick="deleteField('Text')" />
                </td>
                <td>
                    <input type="button" id="IntButton" class="btn btn-primary" value="Add Int Fild" onclick="newField('Int')" />
                    <input type="button" id="IntButton" class="btn btn-primary" value="Delete" onclick="deleteField('Int')" />
                </td>
                <td>
                    <input type="button" id="DateTimeButton" class="btn btn-primary" value="Add DateTime Fild" onclick="newField('DateTime')" />
                    <input type="button" id="DateTimeButton" class="btn btn-primary" value="Delete" onclick="deleteField('DateTime')" />
                </td>
                <td>
                    <input type="button" id="BoolButton" class="btn btn-primary" value="Add Bool Fild" onclick="newField('Bool')" />
                    <input type="button" id="BoolButton" class="btn btn-primary" value="Delete" onclick="deleteField('Bool')" />
                </td>
            </div>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-controller="Home" asp-action="Index" class = "btn btn-default">Cancel</a>
</form>

<script>
    function newField(type) {
        let container = document.getElementById(type + "Fields"); 
        let fieldCount = container.getElementsByTagName("input").length;
        let nextFieldId = fieldCount + 1;
        if(nextFieldId <= 3){
            let div = document.createElement("div");
                div.setAttribute("class", "form-group");

            let label = document.createElement("span");
                label.setAttribute("id", "span"+type+"FieldName"+nextFieldId);
            let text = document.createTextNode(type+"FieldName"+nextFieldId);
            label.appendChild(text);

            let field = document.createElement("input");
                field.setAttribute("id", type+"FieldName"+nextFieldId);
                field.setAttribute("name", type+"FieldName"+nextFieldId);
                field.setAttribute("type", "text");

            div.appendChild(label);
            div.appendChild(field);
            container.appendChild(div);
        }
    }
    function deleteField(type) {
        let container = document.getElementById(type + "Fields"); 
        let fieldCount = container.getElementsByTagName("input").length;
        document.getElementById("span"+type+"FieldName"+fieldCount).remove();
        document.getElementById(type+"FieldName"+fieldCount).remove();
    }
</script>